*{
    font-family: "DM Sans", sans-serif;
}

.container-fluid{
width: 100%;
padding-left: 15px !important;
padding-right: 0 !important;
margin-left: auto;
margin-right: 0;
}

.main-row{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.left-col{
width: 100%;
display: flex;
padding:0 15px !important;
position: relative;
flex-direction: column;
flex-wrap: wrap;
}
@media (min-width: 768px) {
    .left-col {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}}

.right-col{
    padding-left: 15px !important;
    padding-right: 0!important;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 0!important;
    
}

@media (min-width: 768px) {
    .right-col{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}}

.form{
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row-forgot{
    display: flex;
    justify-content: center;
}

.login-btn{
    background-color: #4b0dba !important;
    display: block;
}

.form-group{
    margin-bottom: 1rem;
}


.img-class{
    /* max-width: 500px; */
    min-width: 347.5px;
        height: 100vh;
       
    
}